@model List<Kstudio_v2.Models.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/Produtos/cadastro.js?v3")' asp-append-version="true"></script>

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Raw(ViewData["mensagem"] ?? "")
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Lista de Produtos")
                @Html.ActionLink("Novo", "Cadastro", "Produtos", null, null)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-">
                @Html.Label("Pesquisar")
                <input type="text" list="autocompleteCliente" id="pesquisaProdutos" name="campopesquisa" autocomplete="off" required="" />
                <datalist id="autocompleteCliente"></datalist>
                <input type="button" value="Pesquisar" onclick="buscarProdutos()" />
            </div>
        </div>

        <table class="table" id="tabelaInformacaoDoProduto">
            <tr id="tableLabel">
                <th>
                    @Html.LabelForModel("Id")
                </th>
                <th>
                    @Html.LabelForModel("Nome")
                </th>
                <th>
                    @Html.LabelForModel("Preço")
                </th>
                <th>
                    @Html.LabelForModel("Preço de Custo")
                </th>
                <th>
                    @Html.LabelForModel("Preço de Venda")
                </th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.PrecoDeCusto)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.PrecoDeVenda)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id })
                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id })
                        @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>

    </div>
}



