@using Newtonsoft.Json
@model Kstudio_v2.Models.ClienteViewModel


@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/Agendamentos/cadastro.js?v3")' asp-append-version="true"></script>

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizonta">
        @Html.Raw(ViewData["mensagem"] ?? "")
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h1>Cadastrar Agendamento</h1>
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Banda:")
                @Html.HiddenFor(Model => Model.Id)
                <input type="text" list="autocompleteCliente" id="pesquisa" name="campopesquisa" autocomplete="off" required="" />
                <datalist id="autocompleteCliente"></datalist>
                @Html.ActionLink("Novo", "Cadastro", "Clientes")
            </div>
        </div>
        @*<div class="col-md-10">*@
        <table class="table" id="agendamentosDoCliente">
            <tr id="tablelabel">
                <th>
                    @Html.LabelForModel("Data")
                </th>
                <th>
                    @Html.LabelForModel("Horario de Inicio")
                </th>
                <th>
                    @Html.LabelForModel("Horario Final")
                </th>
            </tr>

            @*</div>*@
            <div id="detalhes" class="col-md-10">

                @for (int i = 0; i < Model.AgendamentosViewModel.Count; i++)
                {
                    <div id="detalhe" class="col-md-10">
                        <tr id="trIdTable">
                            <td id="modeloData">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.Agendamentos[i].Data, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AgendamentosViewModel[i].Data, new { htmlAttributes = new { @class = "form-control", required = "required" } }) 
                                        @Html.ValidationMessageFor(model => model.AgendamentosViewModel[i].Data, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td id="modeloHorarioInicio">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.Agendamentos[i].HorarioInicio, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AgendamentosViewModel[i].HorarioInicio, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AgendamentosViewModel[i].HorarioInicio, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td id="modeloHorarioFim">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.Agendamentos[i].HorarioFinal, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AgendamentosViewModel[i].HorarioFinal, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.AgendamentosViewModel[i].HorarioFinal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </div>
                }
            </div>
        </table>
    </div>
    <div class="col-md-10">
        <input type="button" id="plus" value="+" class="btn btn-default" onclick="addFieldsAgendamento()" />
        <input type="button" id="minus" value="-" class="btn btn-default" onclick="removeFieldsAgendamento()"/>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="salvar" type="submit" value="Salvar" class="btn-default" />
            <input id="limpar" type="reset" value="Limpar" class="btn-default" />
        </div>
    </div>

}
