@using System.Linq
@model Kstudio_v2.Models.ClienteViewModel

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja excluir o Agendamento?</h3>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgendamentosViewModel.FirstOrDefault().Id)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.AgendamentosViewModel.FirstOrDefault().Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Banda)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Banda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Responsavel)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Responsavel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgendamentosViewModel.FirstOrDefault().Data)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.AgendamentosViewModel.FirstOrDefault().Data)
        </dd>
        <dt>
           @Html.DisplayNameFor(model => model.AgendamentosViewModel.FirstOrDefault().HorarioInicio)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.AgendamentosViewModel.FirstOrDefault().HorarioInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgendamentosViewModel.FirstOrDefault().HorarioFinal)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.AgendamentosViewModel.FirstOrDefault().HorarioFinal)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }


</div>

