@model Kstudio_v2.Models.Agendamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="topnav">
    <a onclick="location.href='@Url.Action("Cadastro", "Clientes" )'">Cadastro</a>
    <a onclick="location.href='@Url.Action("Comanda", "Clientes" )'">Comanda</a>
    <a onclick="location.href='@Url.Action("Pesquisa", "Clientes" )'">Pesquisa</a>
    <a onclick="location.href='@Url.Action("Estoque", "Clientes" )'">Estoque</a>
    <a onclick="location.href='@Url.Action("Site", "Clientes" )'">Site</a>
</div>

<h2>Detalhes do Agendamento</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Banda)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Cliente.Banda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Responsavel)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Cliente.Responsavel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.HorarioInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorarioFinal)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.HorarioFinal)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
