@model Kstudio_v2.Models.Cliente

@{
    ViewBag.Title = "Cadastro";

}

@section Scripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/Clientes/cadastro.js?v" + DateTime.Now.ToLongTimeString())' asp-append-version="true"></script>
    @Scripts.Render("~/bundles/jqueryval")
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.Raw(ViewData["mensagem"] ?? "")
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="topnav">
        <a href="~/Views/Clientes/Cadastro.cshtml">Cadastro</a>
        <a href="~/Views/Clientes/Comanda.cshtml">Comanda</a>
        <a class="active" href="~/Views/Clientes/Pesquisa">Pesquisa</a>
        <a href="~/Views/Clientes/Estoque.cshtml">Estoque</a>
        <a href="#about">Site</a>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LabelPesquisaComanda, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProcuraPor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
            @Html.ValidationMessageFor(model => model.ProcuraPor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LabelPesquisaComanda, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProcuraPor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
            @Html.ValidationMessageFor(model => model.ProcuraPor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LabelPesquisaComanda, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProcuraPor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
            @Html.ValidationMessageFor(model => model.ProcuraPor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LabelPesquisaComanda, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProcuraPor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
            @Html.ValidationMessageFor(model => model.ProcuraPor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LabelPesquisaComanda, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProcuraPor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
            @Html.ValidationMessageFor(model => model.ProcuraPor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pesquisar" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="reset" value="Limpar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<table class="table">
    <tr>
        <th>
        @Html.DisplayFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayFor(model => model.Banda)
        </th>
        <th>
            @Html.DisplayFor(model => model.Responsavel)
        </th>
        <th>
            @Html.DisplayFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>
</table>

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>


