@model Kstudio_v2.Models.PesquisaCliente

@{
    ViewBag.Title = "Comanda";

}

@section Scripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/Clientes/cadastro.js?v" + DateTime.Now.ToLongTimeString())' asp-append-version="true"></script>
    @Scripts.Render("~/bundles/jqueryval")
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.Raw(ViewData["mensagem"] ?? "")
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="topnav">
        <a onclick="location.href='@Url.Action("Cadastro", "Clientes" )'">Cadastro</a>
        <a onclick="location.href='@Url.Action("Comanda", "Clientes" )'" >Comanda</a>
        <a onclick="location.href='@Url.Action("Pesquisa", "Clientes" )'">Pesquisa</a>
        <a onclick="location.href='@Url.Action("Estoque", "Clientes" )'">Estoque</a>
        <a onclick="location.href='@Url.Action("Site", "Clientes" )'">Site</a>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LabelPesquisaComanda, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProcuraPor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
            @Html.ValidationMessageFor(model => model.ProcuraPor, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pesquisar" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="reset" value="Limpar" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<input type="button" value="Cadastar Comanda" onclick="location.href='@Url.Action("InserirComanda", "Clientes")'" />*@
            @Html.ActionLink("Comanda", "InserirComanda", "Produtos", null, null)
        </div>
    </div>
</div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayTextFor(model => model.ResultadoCliente.Id)
        </th>
        <th>
            @Html.DisplayTextFor(model => model.ResultadoCliente.Banda)
        </th>
        <th>
            @Html.DisplayTextFor(model => model.ResultadoCliente.Responsavel)
        </th>
        <th>
            @Html.DisplayTextFor(model => model.ResultadoCliente.Email)
        </th>
        <th>
            @Html.DisplayTextFor(model => model.ResultadoCliente.Telefone)
        </th>
    </tr>
</table>

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>


