@model Kstudio_v2.Models.Cliente

@{
    ViewBag.Title = "Delete";

}

<div class="topnav">
    <a onclick="location.href='@Url.Action("Cadastro", "Clientes" )'">Cadastro</a>
    <a onclick="location.href='@Url.Action("Comanda", "Clientes" )'">Comanda</a>
    <a onclick="location.href='@Url.Action("Pesquisa", "Clientes" )'">Pesquisa</a>
    <a onclick="location.href='@Url.Action("Estoque", "Clientes" )'">Estoque</a>
    <a onclick="location.href='@Url.Action("Site", "Clientes" )'">Site</a>
</div>

<h2>Delete</h2>

<h3>Tem certeza que deseja excluir o cliente?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Banda)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Banda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsavel)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Responsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstiloMusical)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.EstiloMusical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Telefone)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
