@model Kstudio_v2.Models.Produto

@{
    ViewBag.Title = "Inserir Dados na Comanda";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.Raw(ViewData["mensagem"] ?? "")
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="topnav">
            <a onclick="location.href='@Url.Action("Cadastro", "Clientes" )'">Cadastro</a>
            <a onclick="location.href='@Url.Action("Comanda", "Clientes" )'">Comanda</a>
            <a onclick="location.href='@Url.Action("Pesquisa", "Clientes" )'">Pesquisa</a>
            <a onclick="location.href='@Url.Action("Estoque", "Clientes" )'">Estoque</a>
            <a onclick="location.href='@Url.Action("Site", "Clientes" )'">Site</a>
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estoque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
            </tr>
        </table>
        <div class="form-group">
            @Html.LabelFor(Model => Model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.Descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
                @Html.ValidationMessageFor(Model => Model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.Quantidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
                @Html.ValidationMessageFor(Model => Model.Quantidade, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.Preco, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
                @Html.ValidationMessageFor(model => Model.Preco, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.ValorTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.ValorTotal, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Banda(Cantor),Responsavel,Email e Telefone" } })
                @Html.ValidationMessageFor(Model => Model.ValorTotal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="reset" value="Limpar" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>


