@model Kstudio_v2.Models.ClienteViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/Agendamentos/cadastro.js?v3")' asp-append-version="true"></script>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizonta">
        @Html.Raw(ViewData["mensagem"] ?? "")
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Lista de Comandas")
                @Html.ActionLink("Cadastrar/Abrir Comanda", "Cadastro")
                <input type="hidden" id="Id" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Pesquisar: ")
                <input type="text" list="autocompleteCliente" id="pesquisa" name="campopesquisa" autocomplete="off" />
                <datalist id="autocompleteCliente"></datalist>
                <input type="button" value="Pesquisar" onclick="buscarAgendamentos()" />
                @Html.Label("Procurar por data: ")
                <input type="date" id="pesquisadata" name="campodata" />
                <input type="button" value="Pesquisar" onclick="buscarAgendamentosData()" />
            </div>
        </div>

        <table class="table" id="agendamentosDoCliente">
            <tr id="tablelabel">
                <th>
                    @Html.LabelForModel("Id")
                </th>
                <th>
                    @Html.LabelForModel("Banda")
                </th>
                <th>
                    @Html.LabelForModel("Responsável")
                </th>
                <th>
                    @Html.LabelForModel("Data")
                </th>
                <th>
                    @Html.LabelForModel("Horario Inicio")
                </th>
                <th>
                    @Html.LabelForModel("Horario Final")
                </th>
            </tr>

            @foreach (var item in Model.AgendamentosViewModel)
            {
                var index = 0;
                <tr id="trId">
                    <td>
                        @Html.DisplayTextFor(modelItem => item.ClienteViewModel.Id)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.ClienteViewModel.Banda)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.ClienteViewModel.Responsavel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data[index])
                        @*@String.Format("{0:dd/MM/yyyy}", item.Agendamentos[index].Data)*@
                    <td>
                        @Html.DisplayTextFor(modelItem => item.HorarioInicio[index])
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.HorarioFinal[index])
                    </td>
                    @*<td>
                        @Html.ActionLink("Editar", "Editar", new { id = item[0] })
                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.AgendamentosViewModel[0] })
                        @Html.ActionLink("Deletar", "Deletar", new { id = item.AgendamentosViewModel[0] })
                    </td>*@
                </tr>
            }
        </table>
    </div>
}
